<!doctype html>
 
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Resume - Ramesh K</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  
 
  <script>

    $(function() {
    $( "#accordion" ).accordion({
      heightStyle: "content"
    });
  });
  </script>
</head>
<body>
 <div><center><p><b>RESUME- 3 Years of Experince with Ruby on Rails</b></P></center><div>
<div id="accordion">
  <h1>Name</h1>
  <div align="center">
    <p>
    <li><h2><b>Ramesh K</b></h2></li>
    <li>+91-9095290768 | rameshkror@gmail.com | Skype: rameshkror</li>
    </p>
  </div>
  <h1>Objective</h1>
  <div><p>
  	3 Years of Experience with a highly resourceful, innovative, and competent RoR Developer with extensive experience in the layout, design and coding of websites specifically in RoR format. To pursue the career as a Software Engineer and to add value in every assignment given by the company in favor to improve performance and to increase my skill set.
  </p></div>
  <h1>Professional Experience</h1>
  <div>
    <p><ul>
    <li>A software development professional having 3 years of experience in Ruby On Rails(ROR), JavaScript, AJAX, CSS, MySQL and PostgreSQL.</li>
	<li>Currently working as a Software Engineer for <b>HUB Consultancy Services Pvt. Ltd, Chennai</b> since December 2010 – Till date.</li>
	<li>Solid web development experience using Ruby 1.8 and 1.9, Rails 2.3 and 3.2, AJAX, MySQL, JavaScript, JQuery, HTML and CSS.</li>
    </ul></p>
  </div>
  <h1>Software Skill Set</h1>
  <div>
    <p><ul>
    <li>Programming Languages 	: <b>Ruby on Rails, C and C++</b></li>
	<li>Scripting Languages 	: <b>JavaScript, JQuery, AJAX, HTML and CSS</b></li>
	<li>RDBMS 					: <b>MySQL Server and PostgreSQL</b></li>
	<li>Operating System 		: <b>Linux (Ubuntu 10.04 and Ubuntu 12.04) and Windows 7</b></li>
    </ul></p>
  </div>
  <h1>Work Experience</h1>
  <div>
    <p><ul><li>
    <b>Mangudi Info – A Self Helping Group</B> <p>Role : Developer
	Duration : Mar 2012 – Till Date Team Size : 4</p>
	<p><b>Project Description:</b></p>
	This Web based Application deals with Group members transactions and Bank transactions as well as individual member transactions. At every end of the month its generates the summary of Group and Bank transactions.
	<p><b>Roles and Responsibility:</b></p>
		Responsible for analysis of requirements from customers, schema designing, Coding and Development of the functionality.
		Responsible for Unit testing, Writing Test Cases, Reviewing of the code.
		Documentation of methodologies used, making tech-notes.
	<p><b>Environment : </p></b>Ruby (v 1.9.3) on Rails (v 3.2.8), MySQL, AJAX, JavaScript, CSS, Linux</li>
    </ul></p>
    <p><ul><li>
    <b>Project Name : WellBrine Chemicals Limited</B> <p> Role : Developer
	Duration : February 2011 – January 2012 Team Size : 4</p>
	<p><b>Project Description:</p></b>
	This application caters to the Health care needs of the employees of WellBrine Chemicals. Employees are eligible for medical benefits up to a certain limit based on their designation. This application maintains the benefits availed and the balance based on the designation. The modules in this application are personal information data management system, Electronic Medical Record (EMR) of the employees. It also has Store and pharmacy, Laboratory etc.
	<p><b>Roles and Responsibility:</p></b>
	Responsible for analysis of requirements from customers, schema designing, Coding and Development of the functionality.
	Responsible for Unit testing, Writing Test Cases, Reviewing of the code.
	Documentation of methodologies used, making tech-notes.
	<p><b>Environment : </p></b>Ruby (v 1.8.4) on Rails (v 2.0.2), PostgreSQL, AJAX, JavaScript, CSS, Linux</li>
    </ul></p>
  </div>

  <h1>Academics</h1>
  <div>
    <p><ul>
    <li>B.E ECE from MPNMJEC, Anna University with 64% - 2006</li>
	<li>HSC Govt.Hr.Sec School, Muthur with 67% - 2002</li>
	<li>SSLC Govt Hr.Sec School, Muthur with 63% - 2000</li>
    </ul></p>
  </div>

  <h1>Personal Details</h1>
  <div>
    <p>
    <li>Name : Ramesh K</li>
	<li>Father’s Name : Kittusamy R</li>
	<li>Mobile : +91-9095290768</li>
	<li>Email : rameshkror@gmail.com</li>
	<li>Date of Birth : 04th February 1985</li>
	<li>Languages Known : English, Tamil and Kannada</li>
    </p>
  </div>
</div>
 
</body>
</html>